body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(103, 2, 222, 1) 55%, rgba(131, 0, 255, 1) 100%);
}


.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 800px;
}

#new-dog-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(103, 2, 222, 1) 55%, rgba(131, 0, 255, 1) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#new-dog-button:hover {
    background: rgb(131, 0, 255);
    background: linear-gradient(90deg, rgba(131, 0, 255, 1) 0%, rgba(103, 2, 222, 1) 33%, rgba(2, 0, 36, 1) 100%);
    
}

#content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#dog-image-container,
#json-container {
    width: 48%;
}

#dog-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#json-container {
    text-align: left;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}